<h2> Caregivers near you </h2>

<ul>
  <% careGiversList.forEach((careGiver) => { %>
    <li>
      <h3> <%= careGiver.name %> </h3>
      <img src="<%=careGiver.pictures[0]%>" width ="200" height ="140"> <br/>
      <span> <%= careGiver.address %>, <%= careGiver.city %>, <%= careGiver.country %> </span> <br/>

      <a href="/services/<%= careGiver._id %>">
        Show profile
      </a>
    </li>
  <% }) %>
</ul>
