<h5> Caregivers near you </h5>
<form method="POST" action="/search">
<label>
Care type:
<select name="service">
  <option value="company">Company</option>
  <option value="support">Support</option>
  <option value="professionalCare">Professional care</option>
</select>
</label>

<label>
City:
<input type="text" name="city">
</label>

<label>
Date:
<input type="date" name="bookedDate">
</label>
<button>Search</button>
</form>

<ul>
  <% careGiversList.forEach((careGiver) => { %>
    <li>
      <h3> <%= careGiver.name %> </h3>
      <img src="<%=careGiver.pictures[0]%>" width ="200" height ="140"> <br/>
      <span> <%= careGiver.address %>, <%= careGiver.city %>, <%= careGiver.country %> </span> <br/>

      <a href="/services/<%= careGiver._id %>">
        Show profile
      </a>
    </li>
  <% }) %>
</ul>
