<div class="row">
<div class="col s12">
  <ul class="tabs">
    <li class="tab col s3"><a href="#past">Past</a></li>
    <li class="tab col s3"><a class="active" href="#pending">Pending</a></li>
    <li class="tab col s3"><a href="#upcoming">Upcoming</a></li>
  </ul>
</div>
<% if (req.user.role === "careTaker") { %>
<div id="past" class="col s12">
  <!--<ul>-->
  <% services.filter(service => service.confirmed === true).filter(service => service.logged === true).filter(service => service.rated === false).forEach((service) => { %>
   <!-- <li>-->
      <h6> <%= serviceParser(service.service) %> you by <%= service.careGiver.name %>  on <%= moment(service.bookedDates[0]).format("LL") %> </h6>
      <!--<ul>-->
        <a class="waves-effect waves-light btn" href="/services/<%= service._id %>/rate">Rate the care giver
          <i class="material-icons right">check</i>
        </a>
        <form method="POST" action="/services/<%= service._id %>/skip">
          <button class="btn waves-effect waves-light">Already rated
            <i class="material-icons right">close</i>
          </button>
        </form>
      <!--</ul>-->
    <!--</li>-->
  <% }) %>
<!--</ul>-->
</div>
<div id="pending" class="col s12">
<ul>
  <% services.filter(service => service.confirmed === false).filter(service => service.declined === false).forEach((service) => { %>
    <li>
      <h6> <%= serviceParser(service.service) %> you by <%= service.careGiver.name %> on <%= moment(service.bookedDates[0]).format("LL") %> </h6>
    </li>
  <% }) %>
</ul>
</div>
<div id="upcoming" class="col s12">
<ul>
<% services.filter(service => service.confirmed === true).filter(service => service.declined === false).forEach((service) => { %>
  <li>
    <h6> <%= serviceParser(service.service) %> you by <%= service.careGiver.name %> on <%= moment(service.bookedDates[0]).format("LL")%> </h6>
  </li>
<% }) %>
</ul>
</div>
</div>

<% } else { %>
<div id="past" class="col s12">
  <ul>
  <% services.filter(service => service.confirmed === true).filter(service => service.logged === false).forEach((service) => { %>
    <li>
      <img src="<%= service.careTaker.pictures %>">
      <h6> <%= serviceParser(service.service) %> <%= service.careTaker.name %> on <%= moment(service.bookedDates[0]).format("LL") %> </h6>

      <ul>
        <a class="waves-effect waves-light btn" href="/services/<%= service._id %>/complete">Complete care
        <i class="material-icons right">assignment</i>
        </a>
      </ul>
    </li>
  <% }) %>
</ul>
</div>
<div id="pending" class="col s12">
<ul>
  <% services.filter(service => service.confirmed === false).filter(service => service.declined === false).forEach((service) => { %>
    <li>
      <h6> <%= serviceParser(service.service) %> <%= service.careTaker.name %> on <%= moment(service.bookedDates[0]).format("LL") %> </h6>

      <ul>
      <a class="waves-effect waves-light btn" href="/services/<%= service._id %>/confirm">See details
      <i class="material-icons right">check</i>
      </a>
      <a class="waves-effect waves-light btn" href="/services/<%= service._id %>/decline">Decline service
      <i class="material-icons right">close</i>
      </a>
      </ul>
    </li>
  <% }) %>
</ul>
</div>
<div id="upcoming" class="col s12">
<ul>
<% services.filter(service => service.confirmed === true).forEach((service) => { %>
  <li>
    <h6> <%= serviceParser(service.service) %> <%= service.careTaker.name %> on <%= moment(service.bookedDates[0]).format("LL") %> </h6>
  </li>
<% }) %>
</ul>
</div>
</div>
<% } %>

<%
function toDate(dateStr) {
    const [year, month, day] = dateStr.split("-")
    return new Date(year, month - 1, day)
}

function serviceParser(str){
  if (str === "company" || str === "support" || str === "professionalCare") {
    return "Assistance for";
  }
}
%>
