<h2>Edit your profile</h2>

<form id="form" action="/services/<%= user._id%>" method="POST">

<label>
Username:
<input type="text" name="username" placeholder="<%=user.username%>" value="<%=user.username%>">
</label>
<br>
<label>
Name:
<input type="text" name="name" placeholder="<%=user.name%>" value="<%=user.name%>">
</label>
<br>
<label>
Family name:
<input type="text" name="familyName" placeholder="<%=user.familyName%>" value="<%=user.familyName%>">
</label>
<br>
<label>
E-mail:
<input type="email" name="email" placeholder="<%=user.email%>" value="<%=user.email%>">
</label>
<br>
<label>
Password:
<input type="password" name="password" value="<%=user.password%>">
</label>
<br>
<label>
Address:
<input type="text" name="address" placeholder="<%=user.address%>" value="<%=user.address%>">
</label>
<br>
<label>
Country:
<input type="text" name="country" placeholder="<%=user.country%>" value="<%=user.country%>">
</label>
<br>
<label>
City:
<input type="text" name="city" placeholder="<%=user.city%>" value="<%=user.city%>">
</label>
<br>
<label>
Zip Code:
<input type="number" name="zipCode" placeholder="<%=user.zipCode%>" value="<%=user.zipCode%>">
</label>
<br>
<label>
Phone number:
<input type="text" name="phoneNumber" placeholder="<%=user.phoneNumber%>" value="<%=user.phoneNumber%>">
</label>
<br>
<div class="input-field">
    <select name="role">
      <option value="" disabled selected>Choose one option</option>
      <option value="careGiver">Care giver</option>
      <option value="careTaker">Care taker</option>
    </select>
    <label>Role</label>
  </div>
  <br>
<label>
Care type:
<select name="service" placeholder="<%=user.service%>" value="<%=user.service%>">
  <option value="activity">Activity</option>
  <option value="company">Company</option>
  <option value="support">Support</option>
  <option value="professionalCare">Professional care</option>
</select>
</label>
<br>
<label>
Price:
<input type="number" name="price" placeholder="<%=user.price%>" value="<%=user.price%>">
</label>
<br>
<label>
Description:
<input type="text" name="description" placeholder="<%=user.description%>" value="<%=user.description%>">
</label>
<br>
<label>
Picture URL:
<input type="text" name="pictures" placeholder="<%=user.pictures%>" value="<%=user.pictures%>">
</label>
<br>
Medicament 1:
<input type="text" name="medicament1" placeholder="<%=user.medicament1%>" value="<%=user.medicament1%>">
</label>
<br>
Medicament 2:
<input type="text" name="medicament2" placeholder="<%=user.medicament2%>" value="<%=user.medicament2%>">
</label>
<br>
Medicament 3:
<input type="text" name="medicament3" placeholder="<%=user.medicament3%>" value="<%=user.medicament3%>">
</label>
<br>
Medicament 4:
<input type="text" name="medicament4" placeholder="<%=user.medicament4%>" value="<%=user.medicament4%>">
</label>
<br>
Medicament 5:
<input type="text" name="medicament5" placeholder="<%=user.medicament5%>" value="<%=user.medicament5%>">
</label>
<br>


<button>Save changes</button>
</form>