<img src="<%=careGiver.pictures[0]%>" width ="800" height ="600"> <br/>
<h2><%= careGiver.name%> <%= careGiver.familyName%></h2>
<span>Address: <%= careGiver.address %>, <%= careGiver.city %>, <%= careGiver.country %> </span> <br/>
<span>About me: <%= careGiver.description %> </span> 
<form method="POST" action="/services/<%= careGiver._id %>/book">
<label>
Care type:
<select name="service">
  <option value="activity">Activity</option>
  <option value="company">Company</option>
  <option value="support">Support</option>
  <option value="professionalCare">Professional care</option>
</select>
</label>

<label>
City:
<input type="text" name="city">
</label>

<label>
Date:
<input type="date" name="bookedDate">
</label>
<button>Book now</button>
</form>
