<%
const comments = [];
const ratings = [];
const dates = [];
if (careGiver.feedback){
for (var i = 0; i < careGiver.feedback.length; i++) {
  comments.push(careGiver.feedback[i].comment);
  ratings.push(careGiver.feedback[i].rating);
  dates.push(careGiver.feedback[i].date);
}
}
%>

<div class="section">
  <div class="row">
    <div class="col s12 m6 l4">


      <img src="<%=careGiver.pictures[0]%>" class="col s12"> <br/>
      <h5><%= careGiver.name%> <%= careGiver.familyName%></h5>

    </div>
  </div>
</div>
<span>Address: <%= careGiver.address %>, <%= careGiver.city %>, <%= careGiver.country %> </span> <br/>
<span>About me: <%= careGiver.description %> </span> 

<% if(user.role === "careTaker") {%>

<div class="section"></div>
<div class="row">
<form method="post" action="/services/<%= careGiver._id %>/book">
  <div class="col s12 m4 l3">
    <div class="input-field">
      <select name="service">
        <option value="" disabled selected>Choose a care type</option>
        <option value="company">Company</option>
        <option value="support">Support</option>
        <option value="professionalCare">Professional care</option>
      </select>
      <label>Care type</label>
    </div>
  </div>
  <div class="col s12 m4 l3">
    <div class='row'>
      <div class='input-field col s12'>
        <input class='validate' type='text' name='city' id='city' />
        <label for='city'>Enter your city</label>
      </div>
    </div>
  </div>
  <div class="col s12 m4 l3">
    <div class='row'>
      <div class='input-field col s12'>
        <input class='validate' type='date' name='bookedDate' id='bookedDate' />
        <label for='bookedDate'></label>
      </div>
    </div>
  </div>
  <div class="col s12 m4 l3">
    <div class='row'>
      <div class='input-field col s12'>
        <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect blue'>Confirm an appointment</button>
      </div>
    </div>
  </div>
  </form>

</div>

<%}%>

<% if(user.role === "careGiver") {%>

<h5>What other used have said about <%= careGiver.name%>:</h5>


    <ul>
<% comments.forEach((comment) => { %>
  
      <li> <b>Comment</b>: <%= comment %> </li>
    
<% }) %>
</ul>
  
</ul>
</ul>

<%}%>
